PORT=8083
EMAIL_USER=ssageerthan8@gmail.com
EMAIL_PASSWORD=zyqw vwmg uttm xhgm
MONGODB_URI=mongodb+srv://ssageerthan8_db_user:PRMuUO5SHyGmJHI4@cluster0.luxu77p.mongodb.net/
ACCESS_TOKEN_SECRET=smart-wallet-access-token
REFRESH_TOKEN_SECRET=smart-wallet-refresh-token


