PORT=8081
MONGODB_URI=mongodb+srv://ssageerthan8_db_user:PRMuUO5SHyGmJHI4@cluster0.luxu77p.mongodb.net/
ACCESS_TOKEN_SECRET=smart-wallet-access-token
REFRESH_TOKEN_SECRET=smart-wallet-refresh-token
API_BASE_URL=http://localhost:8080/